@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.REACT-CALENDAR {
  height: 100%;
  width: 90%;
  background: #ff0606;
  border-radius: 30px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 30px;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation__label {
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.react-calendar__navigation {
  display: flex;
  height: 70px;
  margin: 1em 1em 1em;
  font-size: large;
  
}

.react-calendar__navigation__label__labelText, .react-calendar__navigation__label__labelText--from {
  font-family: 'Post No Bills Jaffna', sans-serif;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #ff0606;
  color: #e6e6e6;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
  color: #ff0606;
}

.react-calendar__month-view__weekdays {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
}


.react-calendar__month-view__days {
  height: 40em;
}

.react-calendar__month-view__days__day--weekend {
  color: #700000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: rgb(156, 156, 156);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #ff0606;
  color: #e6e6e6;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #700000;
  color: #fff;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #000000;
  color: #fff;
}

.react-calendar__tile--hasActive {
  background: #fff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #fff;
}

.react-calendar__tile--active {
  background: #000000;
  color: #fff;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #000000;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.selected-events {
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
  padding: 0.5em 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.selected-day {
  font-family: "Post No Bills Jaffna", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #700000;
}

.selected-titleEvent {
  color: #ff0606;
  font-size: 20px;
}

.selected-descriptionEvent {
  font-size: 15px;
}