@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');

.event-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
  
.new {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 2.5em;
    margin-right: 2em;
}
  
.new button {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    padding: 0.5em 1em;
    font-family: "Post No Bills Jaffna", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ff0000;
    cursor: pointer;
    margin-left: 1em;
}

.new button:hover {
    color: white;
    background-color: #ff0000;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.event {
    background-color: white;
    height: 20em;
    width: 90em;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.optionsEvent {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    margin-left: auto;
}

.optionsEvent button {
    display: inline-block;
    position: relative;
}

.optionsEvent button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #ff0000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.optionsEvent button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.optionsEvent button {
    margin-left: 1em;
    cursor: pointer;
}
  
.titleEvent {
    margin-bottom: 0.5em;
    font-family: "Post No Bills Jaffna", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ff0000;
}
  
.descriptionEvent {
    font-weight: lighter;
    font-size: 20px;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9998;
    display: none;
}
  
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popup-container.active {
    display: flex;
}
  
.event-form {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
  
.event-form label {
    display: block;
    margin-bottom: 0.5em;
}
  
.custom-marker-icon {
    color: #FF0000; /* Customize the color if desired */
}
  