@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
footer {
    margin-top: auto;
    color: #fff;
    background-color: rgb(107 114 128);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 25px 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #ff0606;
}